<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/style.css">
    <title>Document</title>
</head>
<body>

    

    <div class="page">
        <div class="head">
            <center class="center">
                <button><img src="../Images/Ressources/H1.png" width='100%' onclick="newelement('h1')"></button>
                <button><img src="../Images/Ressources/H2.png" width='100%' onclick="newelement('h2')"></button>
                <button><img src="../Images/Ressources/H3.png" width='100%' onclick="newelement('h2')"></button>
                <button><img src="../Images/Ressources/P.png" width='100%' onclick="newelement('p')"></button>
                <button><img src="../Images/Ressources/link.png" width='100%' onclick="newelement('link')"></button>
                <button><img src="../Images/Ressources/quotes.png" width='100%' onclick="newelement('quotes')"></button>
                <button><img src="../Images/Ressources/code.svg" width='100%' onclick="newelement('code')"></button>
                <button><img src="../Images/Ressources/background.png" width='100%' onclick="newelement('image')"></button>
                <input type="checkbox" id="click">
                <label id="save" for="click"></label>
                
                <div class="voile">

                </div>

                
            
                <form class="save-form">
                    <input type="text" placeholder="File's name" id="title">
                    <input type="password" placeholder="password" id="password">
                    <center><input type="button" onclick="save()" value="Submit"></center>
                </form>
            </center>
        </div>

        <div class="editor">
            <p class="text p" contenteditable="true">Bonjour bro 
                <div class="menu">

                </div>
            </p>
        </div>

    </div>


    <div class="render">
    </div>

    

    <button class="run" onclick="preview()">

    </button>
    
    
</body>


<script>


    function kill_childs()
    {
        var malist = document.getElementsByClassName("render")[0].childNodes;
        var parent = document.getElementsByClassName("render")[0];
        var longueur = malist.length;
        while (longueur!=0)
        {
            parent.removeChild(malist[0]);
            longueur-=1;
        }

    }

    function preview()
    {
        var list = document.getElementsByClassName("text");
        var i = 0;
        var page = document.getElementsByClassName("render")[0];
        kill_childs();
        var mynewel;
        while (i<list.length)
        {
            if (list[i].getAttribute('class').substring(5, list[i].getAttribute('class').length) == "link")
            {
                mynewel = document.createElement("a");
                mynewel.setAttribute("href", list[i].innerHTML);
                mynewel.setAttribute("target", "_blank");
                mynewel.innerHTML = list[i].innerHTML;
                mynewel.style.fontSize = "20px";
            }
            else
            {   
                if (list[i].getAttribute("class").substring(5, list[i].getAttribute('class').length) == "image")
                {
                    mynewel = document.createElement("img");
                    mynewel.setAttribute("src", list[i].innerHTML);
                    mynewel.setAttribute("width", "100%");
                    mynewel.setAttribute("height", "auto");
                }
                else
                {
                    mynewel = document.createElement("p");
                    mynewel.innerHTML = list[i].innerHTML;
                }
            }
            mynewel.setAttribute("class", "back "+list[i].getAttribute('class').substring(5, list[i].getAttribute('class').length));
            mynewel.setAttribute("contenteditable", "false");
            page.appendChild(mynewel);
            i = i+1;
        }
        i = 0;
        while (i<document.getElementsByClassName("back"))
        {
            
            i++;
        }
            

        
    }

    function newelement(type)
    {
        let page = document.getElementsByClassName("editor")[0];
        let newel = document.createElement("p");
        newel.setAttribute("class", "text "+type);
        newel.setAttribute("contenteditable", "true");
        page.appendChild(newel);
    }

    function save()
    {
        const fs = require("fs");
        
        var tab = document.getElementsByClassName("text");
        var mytypes = [];
        var myvalues = []; 
        var i = 0;
        while (i<tab.length)
        {
            mytypes.push(tab[i].getAttribute("class").substring(5, tab[i].getAttribute('class').length));
            myvalues.push(tab[i].innerHTML);
            i++;
        }
        var j = {
            title : document.getElementById("title").value,
            password : document.getElementById("password").value,
            types : mytypes,
            values : myvalues
        } 

        const saved = JSON.stringify(j);
        console.log(saved);

        fs.writeFile("../Static/Data/"+title+".json", password, (err) =>
        {
            if (err)
            {
                console.log(err);
            }
            else
            {
                console.log("Datas saved");
            }
        });

    }
    

</script>

</html>